trigger:
  branches:
    include:
      - main

pool:
  vmImage: ubuntu-latest

variables:
  appName: myassist558798
  acrName: acrfiaprm558798
  acrLoginServer: acrfiaprm558798.azurecr.io
  imageRepository: fiap/myassist558798
  dockerRegistryServiceConnection: Docker-Connection
  resourceGroup: RG-FIAP

stages:
- stage: ReplaceTokens
  displayName: Replace Tokens in Properties
  jobs:
    - job: ReplaceTokens
      displayName: Replace application properties tokens
      steps:
        - task: replacetokens@5
          displayName: Replace tokens in properties files
          inputs:
            rootDirectory: src
            targetFiles: '**/*.properties'
            encoding: auto
            tokenPattern: custom
            tokenPrefix: '#{'
            tokenSuffix: '}#'

- stage: Build
  displayName: Build and Push to ACR
  dependsOn: ReplaceTokens
  jobs:
    - job: Build
      displayName: Docker Build and Push
      steps:
        - task: Docker@2
          displayName: Build and Push image to ACR
          inputs:
            containerRegistry: $(dockerRegistryServiceConnection)
            repository: $(imageRepository)
            command: buildAndPush
            Dockerfile: '**/Dockerfile'
            tags: $(Build.BuildId)