# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

variables:
  appName: 'myassist558798'
  acrName: 'acrfiaprm558798'
  acrServer: 'acrfiaprm558798.azurecr.io'
  resourceGroup: 'RG-FIAP'

steps:
- task: replacetokens@5
  displayName: 'Replace tokens in **/*.properties'
  inputs:
    rootDirectory: 'src'
    targetFiles: '**/*.properties'
    encoding: 'auto'
    tokenPattern: 'custom'
    tokenPrefix: '#{'
    tokenSuffix: '}#'

- task: Docker@2
  displayName: 'Build Docker image'
  inputs:
    containerRegistry: 'Docker-Connection'
    repository: 'fiap/$(appName)'
    command: 'build'
    Dockerfile: '**/Dockerfile'
    tags: '$(Build.BuildNumber)'

- task: Docker@2
  displayName: 'Push Docker image'
  inputs:
    containerRegistry: 'Docker-Connection'
    repository: 'fiap/$(appName)'
    command: 'push'
    tags: '$(Build.BuildNumber)'
